
.contact-form { 
    input,textarea{
        background-color: black;
        color: purple;
    }
    .input-group-text {
        background-color: #343a40 ;
        color: #dfdad7;
    }
}