.code-background {
	background-image: url('../../content/assets/code-block-darkmode-blur.jpg');
	background-size: cover;
	min-height: 250px;
	padding: 25px;

	h2 {
		color: #dfdad7;
		background-color: rgba(0, 0, 0, 0.4);
		padding: 4px 7px 4px 7px;
	}
	p {
		font-weight: bold;
		background-color: rgba(0, 0, 0, 0.4);
		padding: 4px 7px 4px 7px;
	}

}

.middle-content {
	background-image: url('../../content/assets/Sunset.jpg');
	background-size: cover;
	background-position: center;
	padding: 25px;
	min-height: 400px; 
}

.profile-pic {
	border: 1px solid #FFF;
}

.alpha-gray {
	background-color: rgba(200, 200, 200, 0.6);
}

.bottom-content {
	background-image: url('../../content/assets/cactus.jpg');
	background-size: cover;
	background-position: center;
	padding: 25px;
	min-height: 400px; 


	.contact-form {
		background-color: rgba(0, 0, 0, 0.6);
		padding: 25px;
	}
}