body {
    background-color: #1e1e1e;
    color: #dfdad7;
}
.wrapper { 
    min-height: 100vh; 
    padding-top: 75px;
    padding-right: 0px;
    padding-left: 0px
}

.footer {
    text-align: center;
    margin: 24px;
}

.ghlogo {
	height: 40px;
    width: 40px;
    margin: 0px;
}

.sm-gh-logo {
    height: 20px;
    width: 20px;
    margin: 3px;
}